.main {
    width: 95%;
    background-color: cornflowerblue;
    margin: 10px auto;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
    padding: 15px;
}

.div_head {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding-bottom: 15px;
    color: white;
}

.div_club, .div_club1 {
    font-size: 16px;
    padding: 10px;
    background: cornflowerblue;
    color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
    text-align: justify;
    line-height: 1.6;
}

.div_club{
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

.list_head {
    font-size: 18px;
    font-weight: bold;
    color: #222;
    text-align: center;
    padding: 10px 0;
}

.div_main {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
    background: white;
    border-radius: 8px;
    padding: 10px;
}
